.notifications-style {
    font-size: 14px !important;
    color: #ffffff;
    border-left: 5px solid #ffffff;
}

.warning {
    background: #ffb648 !important;
    border-left-color: #f48a06 !important;
}

.error {
    background: #E54D42 !important;
    border-left-color: #B82E24 !important;
 }

.success {
    background: #68CD86 !important;
    border-left-color: #42A85F !important;
}